.Home {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  position: relative;
  padding: 15px;
}
.Background-Square {
  position: absolute;
  top: 130px;
  left: 130px;
  width: 300px;
  height: 300px;
  border-radius: 20px;
  background-color: var(--yellow-color-dark);
  z-index: -1;
  transform: rotate(25deg);
}
.Header__Title {
  margin-top: 100px;
  font-family: var(--title-font);
  font-size: 60px;
  letter-spacing: 0.2px;
  color: var(--color-green-dark);
  text-align: left;
  line-height: 1;
}
.Header__Subtitle {
  color: var(--color-gray-light);
  font-size: 16px;
}
.Form--Search {
  margin-top: 80px;
}
.Form--Search input {
  width: 250px;
  height: 40px;
  border:hidden;
  border-radius: 10px;
  outline: none;
  padding: 0 10px;
  font-size: 14px;
  letter-spacing: 1.8px;
  cursor: pointer;
  color: var(--color-green-dark);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
