.Home {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
  padding: 15px;
}
.Background-Square {
  position: absolute;
  top: 130px;
  left: 130px;
  width: 300px;
  height: 300px;
  border-radius: 20px;
  background-color: var(--yellow-color-dark);
  z-index: -1;
  transform: rotate(25deg);
}
.Background-Triangle {
  position: absolute;
  top: 800px;
  left: 50px;
  width: 300px;
  height: 300px;
  border-radius: 20px;
  background-color:#ff7836eb;
  z-index: -1;
  transform: rotate(55deg);
}
.Header__Title {
  margin-top: 100px;
  font-family: var(--title-font);
  font-size: 6rem;
  letter-spacing: 0.2px;
  color: var(--color-green-dark);
  text-align: left;
  line-height: 1;
}
.Header__Subtitle {
  color: var(--color-gray-light);
  font-size: 1.6rem;
}
.Form--Search {
  margin-top: 80px;
  display: grid;
  justify-content: center;
  justify-items: center;
  gap: 20px;
}
.Form--Search input {
  width: 250px;
  height: 40px;
  border:hidden;
  border-radius: 10px;
  outline: none;
  padding: 0 10px;
  font-size: 1.4rem;
  letter-spacing: 1.8px;
  color: var(--color-green-dark);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.Form--Search button {
  height: 40px;
  width: 100px;
  border: none;
  font-weight: 700;
  color: rgb(138, 138, 138);
  font-size: 1.6rem;
  background: rgb(235, 187, 83);
  border-radius: 10px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .Home {
    padding: 25px;
  }
  .Background-Square {
    top: 200px;
    left: 230px;
    width: 550px;
    height: 550px;
    border-radius: 20px;
  }
  .Header__Subtitle {
    margin: 25px 0;
  }
    .Form--Search input {
    width: 380px;
    height: 70px;
    }
}
@media screen and (min-width: 1024px) {
  .Home {
    width: 100vw;
    height: calc(100vh - 70px);
    padding: 15px;
  }
  .Header__Title {
    margin-top: 30px;
    font-size: 5rem;
    text-align: center;
  }
  .Background-Square {
    top: 200px;
    left: 230px;
    width: 300px;
    height: 300px;
    border-radius: 20px;
  }
  .Background-Triangle {
    top: 600px;
  }
  .Background-Circle{
    position: absolute;
    top:  400px;
    right: 100px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color:#e0fc61eb;
    z-index: -1;
    transform: rotate(55deg);
  }
}