.Header {
  padding: 0 15px;
}
.Header__Title {
  margin-top: 100px;
  font-family: 'Libre Franklin', sans-serif;
  font-size: 60px;
  letter-spacing: 0.2px;
  color: var(--color-green-dark);
  text-align: left;
  line-height: 1;
}
.Header__Subtitle {
  color: var(--color-gray-light);
  font-size: 16px;
}
.Form--Search {
  margin-top: 80px;
}
.Form--Search input {
  width: 250px;
  height: 40px;
  border: 2px solid #000;
  border-radius: 10px;
  outline: none;
  padding: 0 10px;
  font-size: 14px;
  letter-spacing: 1px;
  cursor: pointer;
}