.SearchResults__Container {
  overflow: hidden;
  padding: 15px;
  margin-top: 30px;
}
.Diet__Options{
  display: flex;
  height: 40px;
  overflow: scroll;
  transition-duration: 2s;
  transition-property: overflow;
  margin: 15px 0;
}
.Diet__Options::-webkit-scrollbar {
  display: none;
}
.Diet__Options-Item {
  margin: 2px;
  border: none;
  color: var(--color-green-dark);
  background-color: #ecf0f0;
  font-weight: 700;
  text-transform: capitalize;
  padding: 0 10px;
}