.SearchResults__Container {
  overflow: hidden;  
}
.Diet__Options{
  display: flex;
  height: 40px;
  overflow: scroll;
  transition-duration: 2s;
  transition-property: overflow;
}
.Diet__Options::-webkit-scrollbar {display: none;}
.Diet__Options-Item {
  margin: 2px;
  border-radius: 5px;
  border: none;
  color: var(--color-green-dark);
  background-color: #F0F5F5;
  font-weight: 700;
  text-transform: capitalize;
  
}