.Card__Container {
  width: 80%;
  max-width: 250px;
  height: auto;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background-color: #fff;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  margin: 15px 10px;
}
.Card__Image-Polaroid {
  width: 100%;
  height: 280px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.Card__Image {
  width: 115%;
}
.Info {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}
.Info__Kicker {
  background-color: #E9FAB0;
  height: 2.2rem;
  color: var(--color-gray-light);
  font-size: 1.4rem;
  width: 100%;
  padding: 0 10px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.Info__Title {
  color: var(--color-green-dark);
  font-size: 2rem;
  text-align: left;
  height: 86px;
  padding: 10px;
  overflow: hidden;
  cursor: pointer;
}
.Info__Title:hover {
  color: #325f15;
}
.Info__Relevant {
  font-size: 1.2rem;
  text-align: left;
  padding: 0 10px ;
}
.Info__Relevant span {
  color: var(--color-gray-light);
  margin-right: 15px;
}