.Card__Container {
  width: 80%;
  max-width: 400px;
  height: auto;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background-color: #fff;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  margin-bottom: 30px;
}
.Card__Image-Polaroid {
  width: 100%;
  height: 280px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.Card__Image {
  width: 100%;
}
.Info {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
.Info__Kicker {
  background-color: #E9FAB0;
  height: 20px;
  color: var(--color-gray-light);
  font-size: 14px;
}
.Info__Title {
  color: var(--color-green-dark);
  font-size: 20px;
  text-align: left;
  padding-right: 10px;
  padding-left: 10px;
  height: auto;
  max-height: 55px;
  overflow: hidden;
}
.Info__Relevant {
  font-size: 12px;
  text-align: left;
  padding-left: 10px;
}
.Info__Relevant span {
  color: var(--color-gray-light);
  margin-right: 15px;
}