.Back--Wrapper {
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  z-index: 20;
  display: block;
  transition-property: opacity;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  --tw-bg-opacity: 1;
  background-color: rgba(0, 0, 0, var(--tw-bg-opacity));
  opacity: 0.5;
}

.Back--isSidebarOpen {
  display: block;
}
.Back--isNotSidebarOpen {
  display: none;
}

.Btn--Menu {
  
}

.Icon--Menu {
  width: 1.5rem;
  height: 1.5rem;
}


.Navigation--Wrapper {
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  z-index: 30;
  width: 16rem;
  overflow-y: auto;
  transition-duration: 300ms;
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
  --tw-translate-x: 0px;
  --tw-bg-opacity: 1;
  background-color: rgba(255, 255, 255, var(--tw-bg-opacity));
  border-right-width: 2px;
}
.Navigation--isSidebarOpen {
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
  --tw-translate-x: 0px;
}

.Navigation--isNotSidebarOpen {
  transition-timing-function: cubic-bezier(0.4, 0, 1, 1);
  --tw-translate-x: -100%;
  display: none;
}

@media (min-width: 1024px) { 
  .Navigation--Wrapper {
    --tw-translate-x: 0px;
    position: static;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
  }
  .Back--Wrapper {
    display: none;
  }
}

