.Back-Wrapper {
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  z-index: 20;
  display: block;
  transition-property: opacity;
  transition-duration: 1s;
  transition-delay: 50ms;
  background-color: rgba(0, 0, 0, 1);
  opacity: 0.5;
}
.Back--isSidebarOpen {
  display: block;
}
.Back--isNotSidebarOpen {
  display: none;
}
.Menu__Button {
  position: absolute;
  border: none;
  top: 10px;
  left: 10px;
  background-color: transparent;
  z-index: 1;
}
.Icon-Menu {
  width: 4.5rem;
  height: 4.5rem;
  color: var(--color-gray-light);
}
.Navigation-Wrapper {
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  z-index: 30;
  width: 16rem;
  overflow-y: auto;
  transition-duration: 500ms;
  transition-delay: 50ms;
  background-color: rgba(255, 255, 255, 1);
  border-right-width: 2px;
  transition-timing-function: cubic-bezier(0.4, 0, 1, 1);
  transform: translateX(-100%);
}
.Navigation--isSidebarOpen {
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
  transform: translateX(0);
}


.Nav__Container {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: auto;
  scrollbar-width: none; /* For mozilla */
}

/* For Google Chrome and others */
.Nav__Container::-webkit-scrollbar {
  display: none;
}

.Nav__Logo {
  background-color: rgb(243, 242, 242);
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
.Nav__Logo-Name {
  font-family: 'Libre Franklin', sans-serif;
  font-size: 18px;
  font-weight: 800;
  color: var(--color-green-dark);
}
.Nav__List,
.Nav__Items {
  display: grid;
}
.Nav__List {
  row-gap: 2.5rem;
  padding: 10px;
}
.Nav__Items {
  row-gap: 1rem;

}
.Nav__Link {
  height: 35px;
  display: flex;
  align-items: center;
  color: var(--text-color);
  text-decoration: none;
}
.Nav__Icon {
  font-size: 1.2rem;
  margin-right: .5rem;
  margin-left: .5rem;
}

.Nav__Name {
  font-size: var(--small-font-size);
  font-weight: var(--font-medium);
  white-space: nowrap;
  color: #5d7467;
}

/* Dropdown */
.Nav__Dropdown {
  overflow: hidden;
  max-height: 35px;
  transition: .4s ease-in-out;
  transition-duration: .3s;
}
.Nav__Dropdown-Collapse {
  background-color: #f0f0f0;
}
.Nav__Dropdown-Content {
  display: grid;
  row-gap: .5rem;
  padding: .75rem 2.5rem .75rem 2.2rem;
}
.Nav__Dropdown-Item {
  font-size: var(--smaller-font-size);
  font-weight: var(--font-medium);
  color: var(--text-color);
  text-align: left;
  text-decoration: none;
  padding-left: 5px;
}

.Nav__Dropdown-Item:hover {
  color: #d4aa20;
}

.Nav__Dropdown-Icon {
  margin-left: auto;
  transition: .4s;
}

/* Show dropdown collapse */
.Nav__Dropdown:hover {
  max-height: 100rem;
}

/* Rotate icon arrow */
.Nav__Dropdown:hover .Nav__Dropdown-Icon {
  transform: rotate(180deg);
}

/*===== Show menu =====*/
.show-menu {
  left: 0;
}

/*===== Active link =====*/
.active {
  color: #d4aa20;
  background-color: rgb(231, 230, 230);
  border-radius: 5px;
  font-weight: 700;
}

@media screen and (min-width: 768px) {
  .Menu__Button {
    top: 25px;
    left: 25px;
  }
  .Navigation-Wrapper {
    width: 22rem;
  }
}
@media screen and (min-width: 1024px) {
  .Navbar__Container-1024{
    background-color: lawngreen;
    width: 100vw;
    height:  70px;
    position: relative;
  }
  .Menu__Button {
    display: none;
  }
  .Back-Wrapper {
    display: none;
  }
  .Navigation-Wrapper {
    display: inline-block;
    position: static;
    background-color: lightseagreen;
    overflow-y: unset;
    transform: none;
    width: 100%;
    height: 100%;
  }
  .Nav__Container {
    flex-direction: row;
  }
  .Nav__Items {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

/* @media (min-width: 1024px) {
  .Navigation-Wrapper {
    position: static;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
  }
  .Back--Wrapper {
    display: none;
  }
} */

/* ========== MEDIA QUERIES ==========*/
/* For small devices reduce search*/

/* @media screen and (min-width: 768px) {
  body {
    padding: 1rem 3rem 0 6rem;
  }
  .header {
    padding: 0 3rem 0 6rem;
  }
  .header__container {
    height: calc(var(--header-height) + .5rem);
  }
  .header__search {
    width: 300px;
    padding: .55rem .75rem;
  }
  .header__toggle {
    display: none;
  }
  .header__logo {
    display: block;
  }
  .header__img {
    width: 40px;
    height: 40px;
    order: 1;
  }
  .nav {
    left: 0;
    padding: 1.2rem 1.5rem 0;
    width: 68px;
  }
  .Nav__Items {
    row-gap: 1.7rem;
  }
  .Nav__Icon {
    font-size: 1.3rem;
  }


  .Nav__Logo-Name,
  .Nav__Name,
  .nav__subtitle,
  .Nav__Dropdown-Icon {
    opacity: 0;
    transition: .3s;
  }



  .nav:hover {
    width: var(--nav-width);
  }

  .nav:hover .Nav__Logo-Name {
    opacity: 1;
  }
  .nav:hover .nav__subtitle {
    opacity: 1;
  }
  .nav:hover .Nav__Name {
    opacity: 1;
  }
  .nav:hover .Nav__Dropdown-Icon {
    opacity: 1;
  }
} */