.Back--Wrapper {
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  z-index: 20;
  display: block;
  transition-property: opacity;
  transition-duration: 1s;
  transition-delay: 50ms;
  background-color: rgba(0, 0, 0, 1);
  opacity: 0.5;
}
.Back--isSidebarOpen {
  display: block;
}
.Back--isNotSidebarOpen {
  display: none;
}
.Menu__Button {
  position: absolute;
  border: none;
  top: 20px;
  left: 20px;
  background-color: transparent;
}
.Icon--Menu {
  width: 3rem;
  height: 3rem;
  color: var(--color-gray-light);
}
.Navigation--Wrapper {
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  z-index: 30;
  width: 16rem;
  overflow-y: auto;
  transition-duration: 500ms;
  transition-delay: 50ms;
  background-color: rgba(255, 255, 255, 1);
  border-right-width: 2px;
  transition-timing-function: cubic-bezier(0.4, 0, 1, 1);
  transform: translateX(-100%);
}
.Navigation--isSidebarOpen {
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
  transform: translateX(0);
}
@media (min-width: 1024px) { 
  .Navigation--Wrapper {
    position: static;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
  }
  .Back--Wrapper {
    display: none;
  }
}


/*========== NAV ==========*/

.nav__container {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: auto;
  scrollbar-width: none; /* For mozilla */
}

/* For Google Chrome and others */
.nav__container::-webkit-scrollbar {
  display: none;
}

.nav__logo {
  background-color: rgb(255, 255, 255);
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  border-bottom: 1px solid var(--color-green-dark);
}
.nav__logo-name {
  font-family: 'Libre Franklin', sans-serif;
  font-size: 18px;
  font-weight: 800;
  color: var(--color-green-dark);
}
.nav__list, 
.nav__items {
  display: grid;
}

.nav__list {
  row-gap: 2.5rem;
}

.nav__items {
  row-gap: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
}
.nav__link {
  height: 35px;
  display: flex;
  align-items: center;
  color: var(--text-color);
  text-decoration: none;
  border-radius: 5px;
}



.nav__icon {
  font-size: 1.2rem;
  margin-right: .5rem;
  margin-left: .5rem;
}

.nav__name {
  font-size: var(--small-font-size);
  font-weight: var(--font-medium);
  white-space: nowrap;
  color: #5d7467;
}

/* Dropdown */
.nav__dropdown {
  overflow: hidden;
  max-height: 35px;
  transition: .4s ease-in-out;
  transition-duration: .3s;
}

.nav__dropdown-collapse {
  background-color: var(--first-color-light);
}

.nav__dropdown-content {
  display: grid;
  row-gap: .5rem;
  padding: .75rem 2.5rem .75rem 2.2rem;
}

.nav__dropdown-item {
  font-size: var(--smaller-font-size);
  font-weight: var(--font-medium);
  color: var(--text-color);
  text-align: left;
  text-decoration: none;
}

.nav__dropdown-item:hover {
  color: #d4aa20;
}

.nav__dropdown-icon {
  margin-left: auto;
  transition: .4s;
}

/* Show dropdown collapse */
.nav__dropdown:hover {
  max-height: 100rem;
}

/* Rotate icon arrow */
.nav__dropdown:hover .nav__dropdown-icon {
  transform: rotate(180deg);
}

/*===== Show menu =====*/
.show-menu {
  left: 0;
}

/*===== Active link =====*/
.active {
  color: #d4aa20;
}

/* ========== MEDIA QUERIES ==========*/
/* For small devices reduce search*/
@media screen and (max-width: 320px) {
  .header__search {
    width: 70%;
  }
}

@media screen and (min-width: 768px) {
  body {
    padding: 1rem 3rem 0 6rem;
  }
  .header {
    padding: 0 3rem 0 6rem;
  }
  .header__container {
    height: calc(var(--header-height) + .5rem);
  }
  .header__search {
    width: 300px;
    padding: .55rem .75rem;
  }
  .header__toggle {
    display: none;
  }
  .header__logo {
    display: block;
  }
  .header__img {
    width: 40px;
    height: 40px;
    order: 1;
  }
  .nav {
    left: 0;
    padding: 1.2rem 1.5rem 0;
    width: 68px; /* Reduced navbar */
  }
  .nav__items {
    row-gap: 1.7rem;
  }
  .nav__icon {
    font-size: 1.3rem;
  }

  /* Element opacity */
  .nav__logo-name, 
  .nav__name, 
  .nav__subtitle, 
  .nav__dropdown-icon {
    opacity: 0;
    transition: .3s;
  }
  
  
  /* Navbar expanded */
  .nav:hover {
    width: var(--nav-width);
  }
  
  /* Visible elements */
  .nav:hover .nav__logo-name {
    opacity: 1;
  }
  .nav:hover .nav__subtitle {
    opacity: 1;
  }
  .nav:hover .nav__name {
    opacity: 1;
  }
  .nav:hover .nav__dropdown-icon {
    opacity: 1;
  }
}