.SuggestionList {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.SuggestionList__Header{
  position: sticky;
  top: 0;
  z-index: 10;
  width: 100%;
  height: 60px;
  margin-top: 50px;
  background-color: var(--body-color);
  display: flex;
  justify-content: center;
  align-items: center;
}
.SuggestionList__Header h2{
  font-size: 2rem;
  letter-spacing: 1.3px;
}
.SuggestionList__List {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.SuggestionList__Card {
  list-style: none;
  width: 250px;
  height: 100px;
  background-color: #fff;
  margin: 30px 20px;
  border-radius: 20px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.SuggestionList__Card input {
  background: transparent;
  height: 100%;
  width: 100%;
  border: none;
  white-space: normal;
  text-transform: capitalize;
  letter-spacing: 1px;
  color: rgb(167, 167, 167);
  font-size: 2rem;
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .SuggestionList {
    padding: 25px;
    margin-top: 60px;
  }
  .SuggestionList h2 {
    font-size: 3rem;
  }

}
