.SuggestionList {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.SuggestionList__Header{
  position: sticky;
  top: 0;
  z-index: 10;
  width: 100%;
  height: 60px;
  margin-top: 50px;
  background-color: var(--body-color);
  display: flex;
  justify-content: center;
  align-items: center;
}
.SuggestionList__Header h2{
  font-size: 2rem;
  letter-spacing: 1.3px;
}
.SuggestionList__List {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 70rem;
}
.SuggestionList__Card {
  list-style: none;
  width: 20rem;
  height: 20rem;
  margin: 30px 20px;
  border-radius: 20px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.Img-Thumbnail {
  height: 80%;
  width: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  overflow: hidden;
}
.Img-Thumbnail:hover {
  opacity: 0.9;
}
.Img-Thumbnail img {
  object-fit: cover;
}
.Img-Title{
  height: 20%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Img-Title h3 {
  color: var(--text-color);
}
.Img-Title h3:hover{
  color: rgb(44, 43, 43);
}
@media screen and (min-width: 768px) {
  .SuggestionList {
    padding: 25px;
    margin-top: 60px;
  }
  .SuggestionList h2 {
    font-size: 3rem;
  }

}
