@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@700&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

:root {
  --color-green-dark: #003541;
  --yellow-color-dark: #F4DC90;
  --title-font: 'Libre Franklin', sans-serif;
  --color-gray-light: #458555;


  --header-height: 3.5rem;
  --nav-width: 219px;
  --first-color: #6923D0;
  --first-color-light: #F4F0FA;
  --title-color: #19181B;
  --text-color: #58555E;
  --text-color-light: #A5A1AA;
  --body-color: #F9F6FD;
  --container-color: #ffffff;
  --primary-color-white: #f7f7f7;
  --body-font: 'Poppins', sans-serif;
  --normal-font-size: .938rem;
  --small-font-size: 1.2rem;
  --smaller-font-size: .75rem;
  --font-medium: 500;
  --font-semi-bold: 600;
  --z-fixed: 100;
}

*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--primary-color-white);
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
@media screen and (min-width: 768px){
  html {
    font-size: 78%;
  }
}
@media screen and (min-width: 1024px) {
  
}